1_google_drive_setup (1).json
{
  "name": "1_google_drive_setup",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1zwYqlr_ILZF2ud5yJTP82nzdDqa293JG",
          "mode": "list",
          "cachedResultName": "n8n demo folder",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1zwYqlr_ILZF2ud5yJTP82nzdDqa293JG"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        -160
      ],
      "id": "7c17689f-2cc4-437a-817a-958a50701fea",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QZyrfUdY4J84oE0C",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -128,
        -160
      ],
      "id": "53849f15-189a-4ed5-aaf9-68b682480863",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QZyrfUdY4J84oE0C",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-demo",
          "mode": "list",
          "cachedResultName": "n8n-demo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        0,
        -160
      ],
      "id": "4454108b-a1bb-404d-b652-6cc55f654618",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "gkExHI3VaqVQNwSI",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        16,
        -16
      ],
      "id": "e41757eb-992a-4497-92da-6083c4f3fdf0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        64,
        112
      ],
      "id": "6d0051c6-1b6e-431a-9d3a-d692246f3978",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        -16
      ],
      "id": "499b99e1-ec11-4807-9a2d-60e1302057ed",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "IVcolC5gvUZHBvsw",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {
          "systemMessage": "# Role\nAct like an HR assistant bot who replies to employee queries \nregarding the policies.\n\n# What to do / How to do\n- As soon as you get a query, first thing that you need to do \n  is use the 'hr_knowledge_base' tool to fetch the similar chunks \n  of information\n- Then using that, generate a response and give it to the \n  employee\n\n# Tools available\n- 'hr_knowledge_base': Use this tool search for vectors similar \n  to user prompt.\n\n# Important notes\n- Use a friendly tone.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        864,
        -176
      ],
      "id": "3a586009-6659-436f-88ef-b11b2ead547c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.snippet }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        848,
        -16
      ],
      "id": "d2b9121a-2aa4-43a1-a5a7-e9a99ec4a302",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1152,
        160
      ],
      "id": "7b01683d-0dfe-40cb-840b-352087e3b261",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "IVcolC5gvUZHBvsw",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        352,
        -160
      ],
      "id": "5fb5505b-4b2d-4d15-866c-6c335d988510",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "esFRkQr6iOdba5wa",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "hr query",
              "description": "it is related to HR policies"
            },
            {
              "category": "non-hr query",
              "description": "it is not related to HR policies"
            }
          ]
        },
        "options": {
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        528,
        -160
      ],
      "id": "106a749c-6d9e-4953-a92c-90771398287a",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        704,
        -16
      ],
      "id": "e24016fb-748d-4e39-ba68-4e690f7dce51",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "IVcolC5gvUZHBvsw",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        864,
        -320
      ],
      "id": "51ec4cef-2af2-4820-a268-87c5a8f14920",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "use this tool to fetch information similar to the user prompt/query ",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-demo",
          "mode": "list",
          "cachedResultName": "n8n-demo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1072,
        -16
      ],
      "id": "fccd6a03-b163-4e58-84e9-c38377a90f92",
      "name": "hr_knowledge_base",
      "credentials": {
        "pineconeApi": {
          "id": "gkExHI3VaqVQNwSI",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From }}",
        "subject": "=Response to your Query",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1184,
        -176
      ],
      "id": "dd099187-62e8-44f2-ab3e-1536fb03485f",
      "name": "Send a message",
      "webhookId": "7bdb59b4-4ee2-404c-b3d2-60a5373fe06d",
      "credentials": {
        "gmailOAuth2": {
          "id": "esFRkQr6iOdba5wa",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "hr_knowledge_base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hr_knowledge_base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7ec447bd-7e2f-4f6b-9629-a9485ed59266",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4223172a01b14f0696bcc16b0d9ef5abfe8bbceae1510c2f6f6ff76d34d20e00"
  },
  "id": "bdhUVfInrwEv5ELj9Dsuk",
  "tags": []
}